<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IosFinalTest_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B76AB861F0CD3D900199264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B76AB9A1F0CD3D900199264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B76ABA51F0CD3D900199264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
